.imagen{
    width: 50% !important;
    display: block;
    margin: auto;
    padding-block-start: 20px;
}
ion-searchbar{
    background-color: aliceblue;
}
.card{
    background-color: white !important;
}
.sc-ion-searchbar-ios-h{
    color: black !important;
}
ion-card-title{
    color: gray;
}
