<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-row align-items-center style="text-align: center">
    <img src="http://192.168.1.7:5000/{{ usuarios$.imagen }}" class="ima">
    <!-- <img src="http://altools.es/{{ usuarios$.imagen }}" class="ima"> -->

    <ion-col size="10" style="margin: 0 auto;" align-self: center>
      <ion-item>
        <ion-label>
          <strong>Nombre:</strong> {{ usuarios$.name }}</ion-label>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>
          <strong>Telefono:</strong> {{ usuarios$.telefono }}</ion-label>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>
          <strong>Whatsapp:</strong> {{ usuarios$.whatsapp }}</ion-label>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>
          <strong>Pais:</strong> {{ usuarios$.pais }}</ion-label>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>
          <strong>Ciudad: </strong> {{ usuarios$.ciudad }}</ion-label>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>
          <strong>Email:</strong> {{ usuarios$.email }} </ion-label>
      </ion-item><br>
      <ion-item>
        <ion-label>
          <strong>Rol:</strong> {{ usuarios$.role }}</ion-label>
      </ion-item>
      <br>
    </ion-col>
  </ion-row>
</ion-content>