ion-content{
    --background:white;
}

.btnInfo{
    --background: #157424;
    margin: 0 auto;
    position: relative;
    outline: none;
    width: 75%;
}
.btnInfo1{
    --background:white; 
    color:black;
    margin: 0 auto;
    position: relative;
    outline: none;
    width: 75%;
    border-radius: 35px;
    border: 1px solid black;
}
.ima{
    margin: 0 auto; 
    display:block;
     padding-block-start:5vh; 
     padding-block-end: 5vh;
     width: 60%; 
     background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto; 
}