<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)=perfil();>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>

  <ion-grid style="background: whitesmoke;">
    <form [formGroup]="dataForm" (ngSubmit)=submitData()>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Ancho</ion-label>
            <ion-input [(ngModel)]="numero1" formControlName="numero1" type="number" pattern="[0-9]*"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Alto</ion-label>
            <ion-input [(ngModel)]="numero2" formControlName="numero2" type="number" pattern="[0-9]*"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-item>
              <ion-label position="floating" type="number">Total</ion-label>
              <ion-input [(ngModel)]="resultado" formControlName="resultado" disabled="true"></ion-input>
            </ion-item>
          </ion-row>
        </ion-col>
        <ion-input [(ngModel)]="usuarios$.id" formControlName="user_id" disabled="true" hidden="true"></ion-input>
        <ion-col>
          <ion-button color="dark" (click)="calcular()">
            <ion-icon name="calculator-outline"></ion-icon>Calcular
          </ion-button>
          <ion-button color="dark" (click)="submitData()">
            <ion-icon name="save-outline"></ion-icon>Guardar
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <!-- <ion-button size="small" color="dark" (click)="deleteAllALL()">ALL
    <ion-icon name="trash-outline"></ion-icon>
  </ion-button> -->
  <div style="padding: 10px;">
    <ion-row style="border-bottom: groove;text-align: center;">
      <ion-col col-4>
        <ion-label style="text-align: center;"><strong>Ancho</strong></ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label><strong>Alto</strong> </ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label><strong>TOTAL M²</strong></ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-icon name="ellipsis-vertical-outline" class="points"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: groove;" *ngFor="let element of calculo$ ">
      <ion-col col-4>
        <ion-label>{{element.numero1}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label>{{element.numero2}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label>{{element.resultado}}</ion-label>
      </ion-col>
      <ion-button size="small" color="dark" (click)="deleteAll(element)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <!-- <ion-col col-4>
        <ion-label>{{element.created_at | date:'fullDate' }}</ion-label>
      </ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col col-6 style="margin-top: 16px;">
        <ion-button color="dark" (click)="btnboolean()">
          <ion-icon name="document-text-outline"></ion-icon>Formulario
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <p style="float: right; padding: 5px;padding-right: 11px;font-size: 1.3rem;"><strong>{{ total | number:'0.1-1' }} &nbsp;&nbsp;
            M²</strong> </p>
      </ion-col>
    </ion-row>
    <!-- <p style="float: right; padding: 5px;">{{ total | currency:'':symbol: '1.0-2' }}</p> -->
    <!-- <ion-button color="dark" (click)="sumaTotales()">
      <ion-icon name="calculator-outline"></ion-icon>Total M²
    </ion-button> -->
     
  </div>
  <!-- <ion-button expand="block" color="dark" (click)="presentActionSheet()">
    <strong>Opciones</strong> </ion-button> -->
   
</ion-content>
<ion-footer *ngIf="btnbool == false" class="ion-no-border">
  <div class="div">
    <form [formGroup]="dataFormHistorial" (ngSubmit)=guardarOperacion()>
      <ion-row>
        <ion-col class="md-12">
          <ion-item>
            <ion-label position="floating">Nombre Cliente *</ion-label>
            <ion-input [(ngModel)]="nombre_cliente" formControlName="nombre_cliente" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Celular *</ion-label>
            <ion-input [(ngModel)]="celular" formControlName="celular" type="number" pattern="[0-9]*"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Precio. $us</ion-label>
            <ion-input [(ngModel)]="precio" formControlName="precio" type="number" pattern="[0-9]*"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-input [(ngModel)]="usuarios$.id" formControlName="user_id" disabled="true" hidden="true"></ion-input>
          <ion-input [(ngModel)]="resultadoM" formControlName="total_suma" disabled="true" hidden="true"></ion-input>

          <label style="float: right; padding: 5px;font-size: 1.2rem;color: black;"><strong>Precio Total: </strong>
            <strong>
              {{ resultadoM | number:'0.1-1'  }}</strong></label>
        </ion-col>
      </ion-row><br>
      <!-- <ion-item>
      <ion-label position="floating">Total</ion-label>
      <ion-input [(ngModel)]="totalTotalesT" formControlName="totalTotalesT" disabled="true"></ion-input>
    </ion-item> -->
      <ion-button color="dark" (click)="sumaTotalesTotales()" class="float">
        <ion-icon name="calculator"></ion-icon>Cotizar
      </ion-button>

      <ion-button color="dark" (click)="guardarOperacion()" class="float">
        <ion-icon name="save"></ion-icon>Guardar Operación
      </ion-button>
    </form>
  </div>
</ion-footer>