<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="perfil()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" padding>
  <ion-item>
    <ion-label class="value" style="    text-align: center;">
      {{value}}
    </ion-label>
  </ion-item>
  <div style="text-align: center;">
    <div *ngFor="let numGroup of numberGroups" style="padding: 15px;">
      <ion-button *ngFor="let num of numGroup" (click)="onButtonPress(num)">{{num}}</ion-button>
    </div>
  </div>
</ion-content>
