<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Carrito</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dissmis();"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-content"><br>
    <ion-item-group>
      <div class="sidebar">
        <ion-item>
          <p style="margin-block-start: 0em; margin-block-end: 0em;">
            <strong>Productos Agregados a carrito</strong>
          </p>
        </ion-item>
      </div>
      <div>
        <!-- <ion-card>
          <ion-card-header>
            <ion-card-title>Enviar Cotización</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-col>
              <ion-item>
                <ion-label position="floating" type="number">Nombre Cotización</ion-label>
                <ion-input [(ngModel)]="nombre_cotizacion" type="text"></ion-input>
              </ion-item>
            </ion-col>

          </ion-card-content>
        </ion-card> -->
       
          <p>{{carrito$.id}}</p>
       

        <ion-item-sliding *ngFor="let element of pedidos$">
          
          <hr style="border: 0.5px solid black;">
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img src="http://192.168.0.4:5000/{{ element.imagen }}">
            </ion-thumbnail>
            <ion-label text-wrap>
              <p><strong>Codigo:</strong> {{element.codigo}}</p>
              <p><strong>Nombre:</strong> {{element.nombre}}</p>
              <p><strong>Precio:</strong> {{element.precio}}</p>
              <p><strong>Cantidad Pedida</strong> {{element.cantidad_pedido}}</p>
              <p><strong>Importadora:</strong> {{ element.importadora }}</p>
            </ion-label>
            
            <ion-button (click)="presentAlertConfirm(element)" color="danger">
              <ion-icon name="trash" class="icongarbage"></ion-icon>
            </ion-button>

          </ion-item>
        </ion-item-sliding>
      </div>
    </ion-item-group>
    <br>
  </div>
</ion-content>
<ion-footer>
  <ion-button (click)="sendOrder()" color="light" expand="block" fill="outline">
    <ion-icon name="cart-outline"></ion-icon> Mandar Pedido
  </ion-button>
</ion-footer>