ion-grid {
    --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;
    
    ion-row:first-child {
      background-color:  #2dd36f;
      font-weight: bold;
    }
    ion-col {
      border: 1px solid black;
      border-bottom: 0;
      border-right: 0;
    }
    ion-col:last-child {
      border-right: 1px solid black;
    }
    
    ion-row:last-child {
      border-bottom: 1px solid black;
    }
  }
  p{
    color: black;
}
.btn{
  display: block;
  
}
.ion-content{
  padding: 5px;
}
.sidebar{
  position: --webkit-sticky;  // required for Safari
    position: sticky;
    top: 0; // required as well.
    padding-block-end: 16px;
    grid-area: header;
    background: white;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "logo search buttons";
    z-index: 999;
    width: 100%;
}
.danger{
  background-color: red;
}