ion-content{
    --background: white !important;
}
.imagenLogo{
    padding-block-start: 15px;
    width: 75%;
    height: 75%;
    display: block;
    margin: auto;
}
.col{
   padding: 25px;
}
p,h3{
    color: black;
}