<ion-header>
  <ion-toolbar color="danger">
    <p>¿Desea Agregar este Elemento a Favoritos?</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="fila">
    <form [formGroup]="dataForm" (ngSubmit)=guardarFavorito()>
      <ion-input [(ngModel)]="usuarios$.id" formControlName="user_id" disabled="true" hidden="true"></ion-input>
      <ion-button color="dark" (click)="dismiss()"><ion-icon name="alert-outline"></ion-icon>Atras</ion-button>
      <ion-button color="dark" (click)="guardarFavorito()"><ion-icon name="checkmark-outline"></ion-icon>Si, Agregar</ion-button>
    </form>
  </ion-row>
</ion-content>
