.body{
    --ion-background-color: #2A2A2A !important;
}
h4{
    color: white;
    text-align: center;
    padding: 34px;
}
h2{
    text-align: center;
    color: darkslategrey;
}
.cardProduct{
    --background: url('/assets/img/slide/sd.png') no-repeat 50% 50%;
    background-size: 60%;
    height: 17%;   
}    
.cardImportadora{
    --background: url('/assets/img/slide/importadoras.png') no-repeat 50% 50%;
    background-size: 78%;
    height: 17%;   
}