.body{
    --ion-background-color: #2A2A2A !important;
}
ion-item{
    color:#FFFFFF;
    --padding-bottom: 0px;
}
ion-input{
    background-color: transparent;
}
.img{
    margin-top: 65px;
    display: block;
    margin-block-end: 30px;
}
.text{
    background:#F4B004 !important;
}