<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="perfil()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><br>
  <ion-item>
    <p style="margin-block-start: 0em; margin-block-end: 0em;">
      <strong>Lista de Productos</strong>
    </p>
  </ion-item>
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>S.No</ion-col>
      <ion-col>Name</ion-col>
      <ion-col>Gender</ion-col>
      <ion-col>Country</ion-col>
    </ion-row>
    <ion-row >
      <ion-col>Name</ion-col>
      <ion-col>Name</ion-col>
      <ion-col> Name </ion-col>
      <ion-col> Name </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
