<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)=perfil>
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-menu-button><ion-icon name="menu-outline"></ion-icon></ion-menu-button>
      </ion-buttons>
      <ion-title>Historial Pedidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content no-padding>
    <div class="ion-content" padding><br>
      <ion-item-group>
        <ion-item>
          <p style="margin-block-start: 0em; margin-block-end: 0em;">
            <strong>Productos En Historial</strong>
          </p>
        </ion-item>
        
        <ion-item-sliding *ngFor="let element of pedidos$">
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <!-- <img src="http://altools.es/{{element.imagen}}"> -->
              <img src="http://192.168.0.4:5000/{{element.imagen}}">

            </ion-thumbnail>
            <ion-label text-wrap>
              <p><strong>{{element.nombre}} </strong></p>
              <p>{{element.importadora}}</p>
              <!-- <p>{{element.disponibilidad}}</p> -->
              <!-- <div class="ec-stars-wrapper">
                <a data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                <a data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                <a data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                <a data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                <a data-value="5" title="Votar con 5 estrellas">&#9733;</a>
              </div> -->
            </ion-label>
            <!-- <ion-button (click)="show(element)">
              <ion-icon name="arrow-forward"></ion-icon> 
            </ion-button> -->
            
          </ion-item>
  
          <!-- <ion-item-options side="end">
            <ion-item-option color="danger" (click)="presentAlertConfirm(element)">
              <ion-icon class="icongarbage" slot="icon-only" name="trash"></ion-icon>Eliminar
            </ion-item-option>
          </ion-item-options> -->
        </ion-item-sliding>
      </ion-item-group>
      <!-- <ion-item-group>
        <ion-item>
          <p style="color:#157424; margin-block-start: 0em; margin-block-end: 0em;"><strong>Corredores destacados</strong>
          </p>
        </ion-item>
        <ion-item-sliding *ngFor="let item of [1,2,3,4,5,6]">
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img src="assets/images/corredor.png">
            </ion-thumbnail>
            <ion-label text-wrap>
              <p style="color:#157424;"><strong>Juan Carlos</strong></p>
              <p>Asociado titanium</p>
              <div class="ec-stars-wrapper">
                <a data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                <a data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                <a data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                <a data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                <a data-value="5" title="Votar con 5 estrellas">&#9733;</a>
              </div>
            </ion-label>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="unread(item)">
              <ion-icon class="icongarbage" slot="icon-only" name="trash"></ion-icon>Eliminar
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group> -->
      <br>
    </div>
  </ion-content>