<!-- <ion-header>
  <ion-toolbar>
    <ion-title>presentacion</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-padding" scroll-y="true" scroll-x="true">
    <!-- <ion-row class="ion-align-items-center" style="height: 100vh;">
        <ion-col size="12"> -->
    <ion-slides pager="true" style="overflow-y: scroll;overflow-x: scroll;">
        <ion-slide>
            <ion-row class="ion-align-items-center">
                <ion-col size="12">
                    <div class="slide">
                        <img src="./assets/img/slide/s1.png" />
                        <h2>Busca productos <br> de Aluminio</h2>
                        <p>Con Altools App puedes visualizar productos e 
                            Importadoras de Aluminio en toda Bolivia.
                        </p>
                    </div>
                </ion-col>
            </ion-row>

        </ion-slide>

        <ion-slide>
            <ion-row class="ion-align-items-center">
                <ion-col size="12">
                    <div class="slide">
                        <img src="./assets/img/slide/s2.png" />
                        <h2>Añade productos <br> e Importadoras</h2>
                        <p>Agrega la Informacion de tu Importadora junto con todos tus productos </p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-slide>

        <ion-slide>
            <ion-row class="ion-align-items-center">
                <ion-col size="12">
                    <div class="slide">
                        <img src="./assets/img/slide/s3.png" />
                        <h2>Consulta <br> Precios</h2>
                        <p>Realiza cotizaciones en linea y ve los distintos precios del mismo producto</p>
                        <ion-button class="btnpr ion-text-capitalize" [routerLink]="['/login']" routerLinkActive="router-link-active" size="large" expand="block">Comenzar
                            <ion-icon slot="end" name="arrow-forward"></ion-icon>
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-slide>
    </ion-slides>
    <!-- </ion-col>
    </ion-row> -->
</ion-content>