<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="dataForm" (ngSubmit)=submitData()>
    <ion-row>
      <ion-col>
      
         
          <ion-input formControlName="id" value="{{usuarios$.id}}" disabled="true" hidden="true"></ion-input>
       

        <ion-item>
          <ion-label position="floating" style="color: black;">Email</ion-label>
          <ion-input formControlName="email" type="text" value="{{usuarios$.email}}" disabled="true"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" style="color: black;">Contraseña</ion-label>
          <ion-input formControlName="password" type="password" ></ion-input>
        </ion-item>
        
        <ion-button expand="full" type="submit" (click)="submitData()">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
