<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" >
      <ion-content style="background: #1e1e1e;">
        <ion-list id="inbox-list">
          <ion-row>
            <ion-col col-12>
              <ion-list-header><ion-img src="/assets/icon.png" class="ima"></ion-img>&nbsp; Altools</ion-list-header>
            </ion-col>
          </ion-row>
          
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" *ngIf="this.role != 'user'" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon color="dark" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label color="dark">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="rutaImportadora()" lines="none" *ngIf="this.role == 'user' || this.role == 'empresa' || this.role == 'admin' || this.role == 'vendedor'">
              <ion-icon color="dark" slot="start" name="briefcase"></ion-icon>
              <ion-label color="dark">Importadoras</ion-label>
            </ion-item>

            <ion-item (click)="rutaCortadora()" lines="none" *ngIf="this.role == 'user' || this.role == 'empresa' || this.role == 'admin' || this.role == 'vendedor'">
              <ion-icon color="dark" slot="start" name="cut"></ion-icon>
              <ion-label color="dark">
                  Cortadora Perfil
              </ion-label>
            </ion-item>

            <ion-item (click)="rutaCortadoraHistorial()" lines="none" *ngIf="this.role == 'user' || this.role == 'empresa' || this.role == 'admin' || this.role == 'vendedor'" >
              <ion-icon color="dark" slot="start" name="cut"></ion-icon>
              <ion-label color="dark">
                  Historial Cortes
              </ion-label>
            </ion-item>

            <ion-item (click)="cerrarsesion()" lines="none" *ngIf="this.role == 'user' || this.role == 'empresa' || this.role == 'admin' || this.role == 'vendedor'">
              <ion-icon color="dark" slot="start" name="log-out"></ion-icon>
              <ion-label color="dark">
                  Cerrar Sesión
              </ion-label>
          </ion-item>
        </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer mode="ios">
        <ion-toolbar style="text-align: center;">
          <br><ion-note>
            Copyright &copy; <a href="http://altools.es" target="blank">Altools.es</a>
          </ion-note>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
