<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal();">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Contactanos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="container">
    <ion-row>
      <ion-col col-6>
        <div class="img">
          <ion-img src="/assets/icon.png" class="imagenLogo"></ion-img>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center;" class="col">
        <h3>!!! Se parte de Altoos ¡¡¡</h3>
        <ion-col col-6 >
          <p align="center">Contacta al staff de Altools.es para empezar con información
            de Productos e Importadoras de Aluminio en Bolivia </p>
        </ion-col>
      </ion-col>
    </ion-row>
    
    <div  style="padding:7px;">
      <p>Encuentranos en las siguientes ciudades:</p>
      <ion-row>
        <ion-col col-4 >
          <strong>La Paz</strong>
          <div *ngFor="let element of lpz$">
            <div *ngIf="element.ciudad == 'La-Paz'">
              <p style="color: black;"><ion-icon name="accessibility-outline" style="color: whitesmoke;"></ion-icon> {{ element.nombre}}</p>
              <a href="tel:{{element.telefono}}"><p style="color: steelblue;"><ion-icon name="call-outline" style="color: whitesmoke;"></ion-icon> {{ element.telefono}}</p></a>
              <p style="color: black;"><ion-icon name="logo-whatsapp" style="color: whitesmoke;"></ion-icon > {{ element.whatsapp}}</p>
              <hr size="8px" color="white"/>
            </div>
          </div>
        </ion-col><hr>
        <ion-col col-4>
          <strong>Cochabamba</strong>
          <div *ngFor="let element of cbba$">
            <div *ngIf="element.ciudad == 'Cochabamba'">
              <p style="color: black;"><ion-icon name="accessibility-outline" style="color: whitesmoke;"></ion-icon> {{ element.nombre}}</p>
              <a href="tel:{{element.telefono}}"><p style="color: steelblue;"><ion-icon name="call-outline" style="color: whitesmoke;"></ion-icon> {{ element.telefono}}</p></a>
              <p style="color: black;"><ion-icon name="logo-whatsapp" style="color: whitesmoke;"></ion-icon > {{ element.whatsapp}}</p>
              <hr size="8px" color="white"/>
            </div>
          </div>
        </ion-col><hr>
        <ion-col col-4>
          <strong>Santa Cruz</strong>
            <div *ngFor="let element of stz$">
              <div *ngIf="element.ciudad == 'Santa-Cruz'">
                <p style="color: black;"><ion-icon name="accessibility-outline" style="color: whitesmoke;"></ion-icon> {{ element.nombre}}</p>
                <a href="tel:{{element.telefono}}"><p style="color: steelblue;"><ion-icon name="call-outline" style="color: whitesmoke;"></ion-icon> {{ element.telefono}}</p></a>
                <p style="color: black;"><ion-icon name="logo-whatsapp" style="color: whitesmoke;"></ion-icon > {{ element.whatsapp}}</p>
                <hr size="8px" color="white"/>
            </div>
          </div>
        </ion-col><hr>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <strong>Oruro</strong>
            <div *ngFor="let element of oru$">
            <div *ngIf="element.ciudad == 'Oruro'">
              <p style="color: black;"><ion-icon name="accessibility-outline" style="color: whitesmoke;"></ion-icon> {{ element.nombre}}</p>
              <a href="tel:{{element.telefono}}"><p style="color: steelblue;"><ion-icon name="call-outline" style="color: whitesmoke;"></ion-icon> {{ element.telefono}}</p></a>
              <p style="color: black;"><ion-icon name="logo-whatsapp" style="color: whitesmoke;"></ion-icon > {{ element.whatsapp}}</p>
              <hr size="8px" color="white"/>
            </div>
          </div>
        </ion-col><hr>
        <ion-col col-6>
          <strong>Sucre</strong>
            <div *ngFor="let element of suc$">
              <div *ngIf="element.ciudad == 'Sucre'">
                <p style="color: black;"><ion-icon name="accessibility-outline" style="color: whitesmoke;"></ion-icon> {{ element.nombre}}</p>
                <a href="tel:{{element.telefono}}"><p style="color: steelblue;"><ion-icon name="call-outline" style="color: whitesmoke;"></ion-icon> {{ element.telefono}}</p></a>
                <p style="color: black;"><ion-icon name="logo-whatsapp" style="color: whitesmoke;"></ion-icon > {{ element.whatsapp}}</p>
                <hr size="8px" color="white"/>
            </div>
          </div>
        </ion-col><hr>
        <ion-col col-6>
          <strong>Pando</strong>
            <div *ngFor="let element of pando$">
              <div *ngIf="element.ciudad == 'Pando'">
                <p style="color: black;"><ion-icon name="accessibility-outline" style="color: whitesmoke;"></ion-icon> {{ element.nombre}}</p>
                <a href="tel:{{element.telefono}}"><p style="color: steelblue;"><ion-icon name="call-outline" style="color: whitesmoke;"></ion-icon> {{ element.telefono}}</p></a>
                <p style="color: black;"><ion-icon name="logo-whatsapp" style="color: whitesmoke;"></ion-icon > {{ element.whatsapp}}</p>
                <hr size="8px" color="white"/>
              </div>
          </div>
        </ion-col><hr>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <strong>Potosi</strong>
          <div *ngFor="let element of pot$">
            <div *ngIf="element.ciudad == 'Potosi'">
              <p style="color: black;"><ion-icon name="accessibility-outline" style="color: whitesmoke;"></ion-icon> {{ element.nombre}}</p>
              <a href="tel:{{element.telefono}}"><p style="color: steelblue;"><ion-icon name="call-outline" style="color: whitesmoke;"></ion-icon> {{ element.telefono}}</p></a>
              <p style="color: black;"><ion-icon name="logo-whatsapp" style="color: whitesmoke;"></ion-icon > {{ element.whatsapp}}</p>
              <hr size="8px" color="white"/>
            </div>
          </div>
        </ion-col><hr>
        <ion-col col-6>
          <strong>Tarija</strong>
            <div *ngFor="let element of tar$">
              <div *ngIf="element.ciudad == 'Tarija'">
                <p style="color: black;"><ion-icon name="accessibility-outline" style="color: whitesmoke;"></ion-icon> {{ element.nombre}}</p>
                <a href="tel:{{element.telefono}}"><p style="color: steelblue;"><ion-icon name="call-outline" style="color: whitesmoke;"></ion-icon> {{ element.telefono}}</p></a>
                <p style="color: black;"><ion-icon name="logo-whatsapp" style="color: whitesmoke;"></ion-icon > {{ element.whatsapp}}</p>
                <hr size="8px" color="white"/>
            </div>
          </div>
        </ion-col><hr>
        <ion-col col-6>
          <strong>Beni</strong>
          <div *ngFor="let element of beni$">
            <div *ngIf="element.ciudad == 'Beni'">
              <p style="color: black;"><ion-icon name="accessibility-outline" style="color: whitesmoke;"></ion-icon> {{ element.nombre}}</p>
              <a href="tel:{{element.telefono}}"><p style="color: steelblue;"><ion-icon name="call-outline" style="color: whitesmoke;"></ion-icon> {{ element.telefono}}</p></a>
              <p style="color: black;"><ion-icon name="logo-whatsapp" style="color: whitesmoke;"></ion-icon > {{ element.whatsapp}}</p>
              <hr size="8px" color="white"/>
          </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>