<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal();">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Contactanos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="container">
    <ion-row>
      <ion-col col-6>
        <div class="img">
          <ion-img src="/assets/icon.png" class="imagenLogo"></ion-img>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center;" class="col">
        <h3>!!! Se parte de Altoos ¡¡¡</h3>
        <ion-col col-6 >
          <p align="center">Contacta al staff de Altools.es para empezar con información
            de Productos e Importadoras de Aluminio en Bolivia </p>
        </ion-col>
      </ion-col>
    </ion-row>
    
    <div *ngFor="let element of contactos$" style="padding:7px;">
      <p>Encuentranos en los siguientes ciudades:</p>
      <ion-row>
        <ion-col col-4 >
          <strong>La Paz</strong>
          <div *ngIf="element.ciudad == 'La-Paz'">
            <p><ion-icon name="accessibility-outline"></ion-icon> {{ element.nombre}}</p>
            <a href="tel:{{element.telefono}}"><p><ion-icon name="call-outline"></ion-icon> {{ element.telefono}}</p></a>
            <p><ion-icon name="logo-whatsapp"></ion-icon> {{ element.whatsapp}}</p>
          </div>
        </ion-col>
        <ion-col col-4>
          <strong>Cochabamba</strong>
          <div *ngIf="element.ciudad == 'Cochabamba'">
            <p><ion-icon name="accessibility-outline"></ion-icon> {{ element.nombre}}</p>
            <a href="tel:{{element.telefono}}"><p><ion-icon name="call-outline"></ion-icon> {{ element.telefono}}</p></a>
            <p><ion-icon name="logo-whatsapp"></ion-icon> {{ element.whatsapp}}</p>
          </div>
        </ion-col>
        <ion-col col-4>
          <strong>Santa Cruz</strong>
          <div *ngIf="element.ciudad == 'Santa-Cruz'">
            <p><ion-icon name="accessibility-outline"></ion-icon> {{ element.nombre}}</p>
            <a href="tel:{{element.telefono}}"><p><ion-icon name="call-outline"></ion-icon> {{ element.telefono}}</p></a>
            <p><ion-icon name="logo-whatsapp"></ion-icon> {{ element.whatsapp}}</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <strong>Oruro</strong>
          <div *ngIf="element.ciudad == 'Oruro'">
            <p><ion-icon name="accessibility-outline"></ion-icon> {{ element.nombre}}</p>
            <a href="tel:{{element.telefono}}"><p><ion-icon name="call-outline"></ion-icon> {{ element.telefono}}</p></a>
            <p><ion-icon name="logo-whatsapp"></ion-icon> {{ element.whatsapp}}</p>
          </div>
        </ion-col>
        <ion-col col-6>
          <strong>Sucre</strong>
          <div *ngIf="element.ciudad == 'Sucre'">
            <p><ion-icon name="accessibility-outline"></ion-icon> {{ element.nombre}}</p>
            <a href="tel:{{element.telefono}}"><p><ion-icon name="call-outline"></ion-icon> {{ element.telefono}}</p></a>
            <p><ion-icon name="logo-whatsapp"></ion-icon> {{ element.whatsapp}}</p>
          </div>
        </ion-col>
        <ion-col col-6>
          <strong>Pando</strong>
          <div *ngIf="element.ciudad == 'Pando'">
            <p><ion-icon name="accessibility-outline"></ion-icon> {{ element.nombre}}</p>
            <a href="tel:{{element.telefono}}"><p><ion-icon name="call-outline"></ion-icon> {{ element.telefono}}</p></a>
            <p><ion-icon name="logo-whatsapp"></ion-icon> {{ element.whatsapp}}</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <strong>Potosi</strong>
          <div *ngIf="element.ciudad == 'Potosi'">
            <p><ion-icon name="accessibility-outline"></ion-icon> {{ element.nombre}}</p>
            <a href="tel:{{element.telefono}}"><p><ion-icon name="call-outline"></ion-icon> {{ element.telefono}}</p></a>
            <p><ion-icon name="logo-whatsapp"></ion-icon> {{ element.whatsapp}}</p>
          </div>
        </ion-col>
        <ion-col col-6>
          <strong>Tarija</strong>
          <div *ngIf="element.ciudad == 'Tarija'">
            <p><ion-icon name="accessibility-outline"></ion-icon> {{ element.nombre}}</p>
            <a href="tel:{{element.telefono}}"><a href="tel:{{element.telefono}}"><p><ion-icon name="call-outline"></ion-icon> {{ element.telefono}}</p></a></a>
            <p><ion-icon name="logo-whatsapp"></ion-icon> {{ element.whatsapp}}</p>
          </div>
        </ion-col>
        <ion-col col-6>
          <strong>Beni</strong>
          <div *ngIf="element.ciudad == 'Beni'">
            <p><ion-icon name="accessibility-outline"></ion-icon> {{ element.nombre}}</p>
            <a href="tel:{{element.telefono}}"><p><ion-icon name="call-outline"></ion-icon> {{ element.telefono}}</p></a>
            <p><ion-icon name="logo-whatsapp"></ion-icon> {{ element.whatsapp}}</p>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>