<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Productos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="body">
    <ion-card *ngFor="let element of productos$">
  
      <ion-col col-4>
        <ion-img src="/assets/logo.png" class="img"></ion-img>
      </ion-col>
  
      <ion-col col-8>
        <ion-card-header>
          <ion-card-title>{{ element.nombre}}</ion-card-title><br>
          <ion-card-subtitle>{{ element.descripcion}}</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          <ion-row>
            <ion-col col-6>
              <h3><strong>Estado</strong></h3>
              <p>{{ element.estado}}</p>
            </ion-col>
            <ion-col col-6>
              <h3><strong>Precio</strong></h3>
              <p>{{ element.precio}} Bs.</p>
            </ion-col>
          </ion-row>

          <ion-button color="dark" [routerLink]="['/producto/']" [routerLink]="'/producto/'"><ion-icon slot="start" name="eye">
          </ion-icon>Ver</ion-button>
          <!-- <a href="{{ route('instructor.show',$instructoritem->id ) }}">
            <button class="btn btn-sm"><i class="fa fa-eye" aria-hidden="true"></i>Ver</button>
          </a> -->
        </ion-card-content>
      </ion-col>
    </ion-card>
  </ion-content>