<ion-header>
  <ion-toolbar color="dark">
    <h5>¿Como ingresar datos?</h5>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
      <ion-col>
        <h5><strong>Alto</strong></h5>
        <p>Los número validos para este campo son del 0.001 al 9.999 Metros.</p>
      </ion-col>
      <ion-col>
        <h5><strong>Ancho</strong></h5>
        <p>Los número validos para este campo son del 0.001 al 9.999 Metros.</p>
      </ion-col>
  </ion-row>
</ion-content> 

<ion-footer style="text-align: center;">
    <ion-button color="dark" (click)="closeModal()">Ok</ion-button>
</ion-footer>