//BUTTON
input {
    text-align: center;  
    border: 1px solid #6C757D;
  } 
  
  input[type="number"] {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
    }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  
  .wrapper {
    border: 2px #dcd3d3 solid;
    width: 41vw;
    height: 50px;
    padding: 10px;
    display: flex;
    border-radius: 15px;
  }
  
  .plusminus {
    height: 80%;
    width: 24%;
    margin-right: 1.5px;
    // background: white;
    border: none;
    font-size: 0.9rem;
  }
  
  .num {
    height: 100%;
    width: 39%;
    border: none;
    font-size: 30px;
  }
  hr{
    border-top: 1px solid gray;
  }
  .h5s{
    padding-left: 5px;
    margin-bottom: 6px;
  }
 