p, ion-card-title{
    color: black
}
ion-col, ion-row{
    text-align: center;
  }
  ion-label{
    color: black;
  }
  .contenido{
      padding: 10px;
  }
  ion-searchbar{
    background-color: aliceblue;
}
ion-searchbar, input{
color: black;
}

