<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button disabled="true">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon name="menu-outline"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title>Medida y Linea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenido">
    <ion-row style="border-bottom: groove; text-align: right;">
      <ion-col col-3>
        <ion-label><strong>Hojas</strong></ion-label>
      </ion-col>
     
      <ion-col col-3>
        <ion-label><strong>Ancho</strong></ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label><strong>Alto</strong></ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label><strong>Linea</strong></ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row style="border-bottom: groove;text-align: center;" *ngFor="let element of calculoPerfil$ ">
      <ion-col class="col" col-4 *ngIf="element.combinacion == 'combinacion1'">
        <ion-label>Dos Hojas</ion-label>
      </ion-col><ion-col class="col" col-4 *ngIf="element.combinacion == 'combinacion4'">
        <ion-label>Tres Hojas</ion-label>
      </ion-col><ion-col class="col" col-4 *ngIf="element.combinacion == 'combinacion5'">
        <ion-label>Cuatro Hojas</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label>{{element.ancho | number:'0.3-3'}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label>{{element.alto | number:'0.3-3' }}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label> {{element.linea}}</ion-label>
      </ion-col>

      <ion-button size="small" color="light" (click)="presentActionSheet(element)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </div>
</ion-content>

<ion-footer class="div" *ngIf="btnbool == true">
  <div style="float: right;padding-right: 8px;font-size: 1.7rem;">
      <ion-icon (click)="cerrar() "name="close"></ion-icon>
  </div>

  <div style="padding: 2px 1px 2px 2px;overflow: scroll;max-height: 31.5%;">
    <ion-row style="border-bottom: groove;text-align: center !important;" *ngFor="let element of calculo_hoja$ ">
      <ion-col col-4>
        <ion-label>{{element.numero1 | number:'0.3-3'}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label>{{element.numero2 | number:'0.3-3'}}</ion-label>
      </ion-col>
      <ion-col col-4 class="col">
        <ion-label>{{element.resultado }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col">
        <ion-label></ion-label>
      </ion-col>
      <ion-col  class="col">
        <ion-label></ion-label>
      </ion-col>
      <ion-col class="col" style="float: right;">
        <ion-label>&nbsp;&nbsp;{{ suma_m2 | number:'0.1-1' }}</ion-label>
      </ion-col>
    </ion-row>
  </div>
 
    <div style="overflow: scroll;max-height: 80%;">
      <ion-row>
        <ion-col class="md-12">
          <ion-item>
            <ion-label>Combinación</ion-label>
            <ion-select okText="Ok" cancelText="Cancelar" [(ngModel)]="combinacion">
              <ion-select-option value="combinacion1">Dos Hojas</ion-select-option>
              <ion-select-option value="combinacion4">Tres Hojas</ion-select-option>
              <ion-select-option value="combinacion5">Cuatro Hojas</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Ancho *</ion-label>
            <ion-input [(ngModel)]="ancho" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Alto *</ion-label>
            <ion-input [(ngModel)]="alto" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col class="md-12">
          <ion-item>
            <ion-label position="floating">Linea *</ion-label>
            <ion-select okText="Ok" cancelText="Cancelar" [(ngModel)]="linea">
              <ion-select-option value="L-20">Linea 20</ion-select-option>
              <ion-select-option value="L-25">Linea 25</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-button color="dark" (click)="guardarOperacion()" class="float" style="float: right;">
        <ion-icon name="save"></ion-icon> Guardar
      </ion-button>
    </div>
</ion-footer>