<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)=perfil()>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">
  <ion-card>
    <ion-col col-4>
      <ion-img src="http://altools.es/{{ productoId.imagen }}" class="imagen"></ion-img>
    </ion-col>

    <ion-col col-8>
      <ion-row class="ios hydrated">
        <ion-col class="ios hydrated">
          <ion-card-header>
            <ion-card-title>{{ productoId.nombre }} </ion-card-title><br>
            <ion-card-subtitle>{{ productoId.descripcion}}</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
        <ion-col offset-4="" class="ios hydrated">
          <div *ngIf="novedad == true">
            <ion-icon name="star-sharp" class="icon"></ion-icon>
          </div>
          <div>
            <ion-icon name="heart-sharp" class="icon1" (click)="favorito(productoId)"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

      <ion-card-content>
        <ion-row>
          <ion-col col-4>
            <h4><strong>Tipo Medida</strong></h4>
            <p>{{ productoId.tipo_medida}}</p>
          </ion-col>
          <ion-col col-4>
            <h4><strong>Ancho</strong></h4>
            <p>{{ productoId.ancho}}</p>
          </ion-col>
          <ion-col col-4>
            <h4><strong>Alto</strong></h4>
            <p>{{ productoId.alto}}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h4><strong>Estado</strong></h4>
            <p>{{ productoId.estado}}</p>
          </ion-col>
          <ion-col col-6>
            <h4><strong>Precio</strong></h4>
            <p>{{ productoId.precio}} Bs.</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h4><strong>Color</strong></h4>
            <p>{{ productoId.color}}</p>
          </ion-col>
          <ion-col col-6>
            <h4><strong>Codigo</strong></h4>
            <p>{{ productoId.codigo}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h4><strong>Disponible</strong></h4>
            <p>{{ productoId.disponibilidad}}</p>
          </ion-col>
          <ion-col col-6>
            <h4><strong>Codigo</strong></h4>
            <p>{{ productoId.codigo}}</p>
          </ion-col>
        </ion-row><br>
        <hr><br>

        <!-- <ion-row>
          <h5 class="h5s">Cantidad a pedir</h5> 
        </ion-row> -->

        <!-- <ion-row >
          <div class="wrapper">
            <ion-button color="dark" class="plusminus" (click)="handleMinus()">-</ion-button>
            <input type="number" class="num" value="0" [(ngModel)]="value" />
            <ion-button color="dark" class="plusminus" (click)="handlePlus()">+</ion-button>
          </div>
        </ion-row><br> -->
        <!-- <ion-row>
          <p><Strong>* Nota:</Strong>&nbsp; Se mandarán la solicitud de pedido y 
            el proveedor(importadora) se comunicara con usted.</p>
        </ion-row><br> -->

        <ion-row style="float: left;">
          <ion-button color="dark" (click)="back()">
            <ion-icon slot="start" name="arrow-back-sharp">
            </ion-icon>Atras
          </ion-button>
        </ion-row>

        <ion-row style="float: right;">
          <ion-button color="dark" (click)="presentModal(productoId)">
            <ion-icon slot="start" name="cart-sharp">
            </ion-icon>Agregar a Carrito
          </ion-button>
        </ion-row><br>
        <!-- <a href="{{ route('instructor.show',$instructoritem->id ) }}">
          <ion-button class="btn btn-sm"><i class="fa fa-eye" aria-hidden="true"></i>Ver</ion-button>
        </a> -->
      </ion-card-content>
    </ion-col>
  </ion-card>
</ion-content>