  ion-label{
    color: black;
    font-size: 1.1rem;
  }
  .contenido{
    padding: 10px;
  }
  .div{
    margin:     auto;
    background: steelblue;
    // height: 40%;
    // overflow: scroll;
  } 
  .col{
    Word-wrap: break-Word;
    max-width: 150px;
  }
