<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)=perfil();>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon name="menu-outline"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title>Calculos Guardados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="contenido">
  <ion-row style="border-bottom: groove; text-align: right;">
    <ion-col col-4>
      <ion-label><strong>Cliente</strong></ion-label>
    </ion-col>
    <!-- <ion-col col-4>
      <ion-label><strong>Celular</strong></ion-label>
    </ion-col> -->
    <!-- <ion-col col-4>
      <ion-label><strong>Total Suma</strong></ion-label>
    </ion-col> -->
    <!-- <ion-col col-4>
      <ion-label><strong>Precio$</strong></ion-label>
    </ion-col> -->
    <ion-col col-4>
      <ion-label onclick="true"><strong>Total $us</strong></ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-label>
    </ion-col>
  </ion-row>

  <ion-row style="border-bottom: groove;text-align: center;" *ngFor="let element of calculo$ ">
    <ion-col class="col" col-4>
      <ion-label>{{element.nombre_cliente}}</ion-label>
    </ion-col>
    <!-- <ion-col col-4>
      <ion-label>{{element.nombre_operacion}}</ion-label>
    </ion-col> -->
    <!-- <ion-col col-4>
      <ion-label>{{element.total_suma }}</ion-label>
    </ion-col> -->
    <!-- <ion-col col-4>
      <ion-label> {{element.precio}}</ion-label>
    </ion-col> -->
    <ion-col col-4>
      <ion-label>{{ element.total_suma | number:'0.1-1' }}</ion-label>
    </ion-col>

    <ion-button size="small" color="light" (click)="presentActionSheet(element)">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>

    <!-- <ion-button size="small" color="danger" (click)="deleteAll(element)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button> -->
  </ion-row>
</div>
</ion-content>
<ion-footer class="div">
  <div style="padding: 10px;overflow: scroll;">
    <ion-row style="border-bottom: groove;text-align: right !important;">
      <ion-col col-4>
        <ion-label><strong>Ancho</strong></ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label><strong>Alto</strong> </ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label><strong>TOTAL M²</strong></ion-label>
      </ion-col>

    </ion-row>

    <ion-row style="border-bottom: groove;" *ngFor="let element of calculo_hoja$ ">
      <ion-col col-4>
        <ion-label>{{element.numero1}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label>{{element.numero2}}</ion-label>
      </ion-col>
      <ion-col col-4 class="col">
        <ion-label>{{element.resultado}}</ion-label>
      </ion-col>
    </ion-row>
  </div>
 
    



    <ion-row>
      <ion-col class="md-12">
        <ion-item>
          <ion-label position="floating" type="number">Cliente *</ion-label>
          <ion-input [(ngModel)]="nombre_cliente" type="text"
          minlength="2" maxlength="40"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" type="number">Celular Cliente *</ion-label>
            <ion-input [(ngModel)]="celular" type="number" pattern="[0-9]*"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating" type="number">Precio $</ion-label>
            <ion-input [(ngModel)]="precio" type="number" pattern="[0-9]*" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" type="number">Descripción *</ion-label>
            <ion-input [(ngModel)]="descripcion" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <br>
      <p style="float: right; padding: 5px;"><strong>Precio Total: </strong> {{ resultadoM  | number:'0.1-1' }}</p>
      <!-- <ion-item>
        <ion-label position="floating">Total</ion-label>
        <ion-input [(ngModel)]="totalTotalesT" formControlName="totalTotalesT" disabled="true"></ion-input>
      </ion-item> -->
  
      <ion-button color="dark" (click)="sumaTotalesTotales()" class="float">
        <ion-icon name="calculator"></ion-icon>Resultado
      </ion-button>
  
      <ion-button color="dark" (click)="guardarOperacion()" class="float">
        <ion-icon name="save"></ion-icon>Actualizar Operacion
      </ion-button>
    
  </ion-footer> 
