<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button disabled="true">
        <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Cortadora</ion-title>
    <ion-buttons slot="end" *ngIf="btnHoja == true">
      <form [formGroup]="data_hoja1" (ngSubmit)=crearHojaCalculo()>
        <ion-input [(ngModel)]="usuarios$.id" formControlName="user_id" disabled="true" hidden="true"></ion-input>
        <ion-row style="display: block; text-align: center;">
          <ion-button (click)="crearHojaCalculo()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </form>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <div *ngIf="btnHoja == false" style="padding: 7px;">
    <form [formGroup]="dataForm" (ngSubmit)=submitData()>
      <div>
        <ion-row>
          <ion-col>
            <p> <strong>Elija una Linea</strong></p>
            <ion-list>
              <ion-item>
                <ion-label>Linea</ion-label>
                <ion-select [compareWith]="compareWith" formControlName="linea">
                  <ion-select-option value="L-20">Linea 20</ion-select-option>
                  <!-- <ion-select-option value="L-21">Linea 21</ion-select-option>
                  <ion-select-option value="L-22">Linea 22</ion-select-option>
                  <ion-select-option value="L-23">Linea 23</ion-select-option>
                  <ion-select-option value="L-24">Linea 24</ion-select-option> -->
                  <ion-select-option value="L-25">Linea 25</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>
      <div>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Ancho</ion-label>
              <ion-input type="number" formControlName="ancho" onKeyPress="if(this.value.length==5) return false;" pattern="[0-9]*" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Alto</ion-label>
              <ion-input type="number" formControlName="alto" onKeyPress="if(this.value.length==5) return false;" pattern="[0-9]*" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Precio Bs.</ion-label>
              <ion-input type="number" formControlName="precio" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating"># Repetición</ion-label>
              <ion-input type="number" formControlName="repeticion" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row> -->
      </div>  <br>
      <div>
        <p> <strong>Elija una Combinación</strong></p>
        <p class="lp">*Elija solo una combinación.</p>
        <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
          <ion-slide class="slide">
            <ion-col>
              <ion-label>Dos Hojas</ion-label>
              <ion-img style="pointer-events:none" src="assets/combinaciones/combinacion1.png"></ion-img>
              <ion-radio-group allow-empty-selection="true" [(ngModel)]="isChecked1" formControlName="combinacion">
                <ion-item *ngIf="!isChecked2 && !isChecked3">
                  <ion-label>OK</ion-label>
                  <ion-radio slot="start"  value="combinacion1" color="success"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-col>
          </ion-slide>

          <ion-slide class="slide">
            <ion-col>
              <ion-label>Tres Hojas</ion-label>
              <ion-img style="pointer-events:none" src="assets/combinaciones/combinacion4.png"></ion-img>
                <ion-radio-group allow-empty-selection="true" [(ngModel)]="isChecked2" formControlName="combinacion">
                  <ion-item *ngIf="!isChecked1 && !isChecked3">
                    <ion-label>OK</ion-label>
                    <ion-radio slot="start" value="combinacion4" color="success"></ion-radio>
                  </ion-item>
                </ion-radio-group>
            </ion-col>
          </ion-slide>
  
          <ion-slide class="slide">
            <ion-col>
              <ion-label>Cuatro Hojas</ion-label>
              <ion-img style="pointer-events:none" src="assets/combinaciones/combinacion5.png"></ion-img>
              <ion-radio-group allow-empty-selection="true" [(ngModel)]="isChecked3" formControlName="combinacion">
                <ion-item *ngIf="!isChecked1 && !isChecked2">
                  <ion-label>OK</ion-label>
                  <ion-radio slot="start" value="combinacion5" color="success"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-col>
          </ion-slide>
          <br>
        </ion-slides>
      </div>
      <ion-input [(ngModel)]="usuarios$.id" formControlName="user_id" disabled="true" hidden="true"></ion-input>
      <ion-input [(ngModel)]="hojas$.id" formControlName="hoja_id" disabled="true" hidden="true"></ion-input>
    </form>

    <ion-button color="dark" expand="block" (click)="submitData()">
      <ion-icon name="save-outline"></ion-icon>Guardar
    </ion-button>

    <ion-button color="dark" expand="block" (click)="abrirVentana()">
      <ion-icon name="close-outline"></ion-icon>Cerrar Hoja de Calculo
    </ion-button>
  </div>
</ion-content>

<ion-footer *ngIf="btnbool == false" class="ion-no-border">
  <div class="div">
    <form [formGroup]="data_hoja" (ngSubmit)=cerrarHoja() novalidate>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre Cliente *</ion-label>
            <ion-input [(ngModel)]="nombre_cliente"  formControlName="nombre_cliente" type="text" minlength="2" maxlength="40" required></ion-input>
          </ion-item>
        </ion-col>
         <ion-col>
          <ion-item>
            <ion-label position="floating">Celular *</ion-label>
            <ion-input [(ngModel)]="celular" formControlName="celular" type="tel" maxlength="10" pattern="[0-9]*" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Descripción *</ion-label>
            <ion-input formControlName="descripcion" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-col>
        <ion-button color="dark" (click)="cerrarHoja()" class="float" expand="full">
          <ion-icon name="save"></ion-icon>Guardar Operación
        </ion-button>
      </ion-col>
    </form>
  </div>
</ion-footer>