p,ion-label{
    color: black;
}
.slide{
    height: 250px;
    width: 157px;
    border: 2px solid #f8f8f8;
    margin: 4px;
}
.lp{
    font-size: 0.7rem;
}
.div{
    margin:     auto;
  background: steelblue;
  }
.help{
    float: right;
}
.col-background-descripcion{
    background-color: dodgerblue;
}
.col-background-cantidad{
    background-color: limegreen;
}